
<h1 class="display-3">Apple App Reviews</h1>
<p>
    Apple Id: {{appId}} <br/>
    <a routerLink="/settings"  role="button">Change App Settings</a>
</p>


<div class="row">
    <div class="col-md-4" *ngFor="let reviewEntry of appleReview.feed.entry">
        <div class="border border-secondary rounded p-2">
            <h2>{{reviewEntry.author.name.label}}</h2>
            <p>{{reviewEntry.content.label}}</p>
            <span class="badge badge-pill badge-primary">{{reviewEntry["im:rating"].label}} stars</span>
            <span class="badge badge-pill badge-secondary">Version:- {{reviewEntry["im:version"].label}}</span>
        </div>
    </div>
</div>